*,
*:before,
*:after {
  box-sizing: inherit;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

output {
  border: 1px solid transparent;
  height: 1em;
}

button {
  display: inline-flex;
  padding: 1em 1.618em;
  text-transform: uppercase;
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  outline-color: var(--outline-color);
  user-select: none;
  cursor: pointer;
}

input {
  max-width: 100%;
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  padding-block: var(--input-block-padding);
  padding-inline: var(--input-inline-padding);
  outline-color: var(--outline-color);
}

dialog {
  max-inline-size: 90vw;
}
